@import '/styles/main.module.scss';

.position {
    display: flex;
    justify-content: flex-start;
    padding: 1rem
}

.logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
}

.text {
    font-size: $fontSizeXL;
    font-weight: $fontWeightBold;
}