@import '/styles/main.module.scss';

.section {
    padding-bottom: 2rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;

    @media (max-width: 992px) {
        padding: 1rem;
        margin: 0;
    }
}

.input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .text::placeholder {
        @include FontSizeXS;
        font-weight: $fontWeightLight;
        text-transform: lowercase;
    }
}

.text {
    @include FontSizeXS;
    padding: 1rem 3rem;
    width: 35%;
    border-radius: 20px;
    border: none;
    overflow: hidden;
    outline: none;
    color: $colorFontSecondary;
    font-weight: $fontWeightSemiBold;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    cursor: pointer;

    @media (max-width: 992px) {
        padding: 0.8rem 1.5rem;
    }

    @media (max-width: 576px) {
        width: 60%;
    }
}

.text:focus {
    outline: none
}

.icon_position {
    margin-left: 1.5rem;

    @media (max-width: 992px) {
        margin-left: 0.3rem;
    }
}

.icon {
    margin: 0 0.5rem;
    color: $colorFontPrimary;
    vertical-align: middle;
    cursor: pointer;

    @media (max-width: 993px) {
        display: none;
    }
}

.icon_mobile {
    margin: 0 0.5rem;
    color: $colorFontPrimary;
    vertical-align: middle;
    cursor: pointer;

    @media (min-width: 992px) {
        display: none;
    }
}