@import './styles/variables/fontsAndColors.module.scss';

.section {
    padding-bottom: 2rem;
    margin: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .text::placeholder {
        color: grey;
        font-size: 1.2rem;
        font-weight: $fontWeightLight;
        text-transform: lowercase;
    }
}

.text {
    padding: 1rem 3rem;
    width: 35%;
    border-radius: 20px;
    border: none;
    overflow: hidden;
    outline: none;
    color: $colorSecondary;
    font-size: 1.2rem;
    font-weight: $fontWeightSemiBold;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.text:focus {
    outline: none
}

.icons {
    margin-left: 1.5rem;
}

.icon {
    margin: 0 0.5rem;
    color: $colorPrimary;
    vertical-align: middle;
    cursor: pointer;
}