@import '/styles/main.module.scss';

.section {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    margin-right: 0.9rem;
    font-size: $fontSizeL;
    font-weight: $fontWeightBold;
    display: flex;
    flex-wrap: wrap;
}

.button {
    padding: 0.5rem 1rem;
    margin: 0.6rem;
    background-color: $colorBgBlueDark;
    background-repeat: no-repeat;
    border-radius: 30px;
    border: none;
    overflow: hidden;
    outline: none;
    font-size: $fontSizeM;
    font-weight: $fontWeightBold;
    color: $colorFontPrimary;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;

    &:hover {
        transition: transform 0.3s;
        transform: scale(1.1);
    }
}