@import './styles/variables/fontsAndColors.module.scss';

.section {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    margin-right: 0.9rem;
    font-size: 1.3rem;
    font-weight: $fontWeightBold;
    display: flex;
    flex-wrap: wrap;
}

.button {
    padding: 0.5rem 1rem;
    margin: 0.6rem;
    background-color: $colorBlue;
    background-repeat: no-repeat;
    border-radius: 30px;
    border: none;
    overflow: hidden;
    outline: none;
    font-size: 1.4rem;
    font-weight: $fontWeightBold;
    color: $colorPrimary;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.button:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}