//BACKGROUNDS COLORS
$colorBgBlueLight: #85B3FE;
$colorBgBlueDark: #609CFB;


//FONT COLORS
$colorFontPrimary: white;
$colorFontSecondary: black;


//FONT SIZES
$fontSizeXXL: 6rem;
$fontSizeXL: 2.5rem;
$fontSizeL: 2rem;
$fontSizeM: 1.4rem;
$fontSizeS: 1.3rem;
$fontSizeXS: 1.2rem;