// Font-Weights
$weight-light: 300;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

// Background Colors
$colorBg: #85B3FE;
$colorBlue: #609CFB;

// Font Colors
$colorPrimary: white;
$colorSecondary: black;