@import '/styles/main.module.scss';

.section {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 992px) {
        padding: 1rem 0;
    }
}

.weatherMain {
    @include FontSizeL;
    padding-top: 1rem;
    font-weight: $fontWeightBold;

    @media (max-width: 992px) {
        padding: 0.5rem;
    }

    @media (max-width: 605px) {
        padding: 0.3rem;
    }
}

.temperature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 4rem;

    @media (max-width: 992px) {
        padding: 1rem 0;
        gap: 1rem;
    }

    @media (max-width: 605px) {
        padding: 0.5rem 0;
        gap: 0.5rem;
    }
}

.image {
    @media (max-width: 993px) {
        display: none;
    }
}

.image_mobile {
    @media (min-width: 993px) {
        display: none;
    }
}

.celsius {
    @include FontSizeXXL;
    font-weight: $fontWeightBold;
}

.dsp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    background-color: $colorBgBlueDark;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding: 1rem 1.5rem;
    border: none;

    @media (max-width: 992px) {
        gap: 2rem;
        padding: 0.5rem 1rem;
    }

    @media (max-width: 605px) {
        gap: 1rem;
        padding: 0.2rem 0.7rem;
    }
}

.position {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon {
    margin-bottom: 1rem;

    @media (max-width: 993px) {
        display: none;
    }
}

.icon_mobile {
    margin-bottom: 0.5rem;

    @media (min-width: 993px) {
        display: none;
    }

    @media (max-width: 605px) {
        margin-bottom: 0rem;
    }
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    @include FontSizeS;
    font-weight: $fontWeightBold;
    padding-bottom: 1.5rem;

    @media (max-width: 992px) {
        padding: 0.5rem;
    }
}

.value {
    @include FontSizeS;
    font-weight: $fontWeightMedium;
}