@import './styles/variables/fontsAndColors.module.scss';

.footer {
    position: relative;
}

.text {
    position: absolute;
    padding: 1rem;
    width: 100%;
    color: $colorPrimary;
    font-weight: $fontWeightSemiBold;
    text-align: right;
}