@import './styles/variables/fontsAndColors.module.scss';

.section {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location {
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
    font-weight: $fontWeightBold;
    background-color: $colorBlue;
    background-repeat: no-repeat;
    border-radius: 30px;
    border: none;
    display: flex;
}